@font-face {
    font-family: "Lemon";
    src: url("../%40font/LemonMilk.otf") format("opentype");
}
a{text-decoration: none;line-height: normal;}
:root{
    --color1: #555f70;
    --color1_rgb: 255, 255, 255;
    --font1: "Lemon", sans-serif;
    --font2: "Montserrat", sans-serif;
    
    --container__in--color: 0,0,0,.5;
    --container__border: 2px solid var(--color1);
    --container__shadow: 0px 0px 47px -1px;
    --container__shadow--opt: .2;
}

*{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
html, body{
    width: 100%;
    height: 100%;
}
.__next{
    background-image: url(../%40img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    min-height: 100vh;
}
.wapper{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 0px;
    background-color: #000;
    position: fixed;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 90%;
    width: fit-content;
}
.home{
    height: 90%;
    margin-left: 80%;
}
.social{
    margin-left: auto;
}
.social a{
    margin-left: 1rem;
}
.logo img, .home img{
    height: 100%;
}

.title{
    font-family: 'Lemon', sans-serif;
    flex-direction: column;
    width: fit-content;
    height: 150px;
    color: #fff;
    
}
.title .h1__span{
    margin-top: auto;
    font-size: 4.5rem;
    text-align: center;
    font-weight: 900;
}
.title .h2__span{
    text-align: right;
    font-size: 1.5rem;
    font-weight: 900;
}

.containers{
    flex-direction: column;

}
.containers > .first{
    margin-top: 5rem;
    width: 100%;
}
.containers > .first > div{
    width: 100%;
    min-height: 600px;
    background-color: rgba(var(--container__in--color));
    border-radius: 1rem;
    border: var(--container__border);
    -webkit-box-shadow: var(--container__shadow) rgba(var(--color1_rgb), var(--container__shadow--opt));
    -moz-box-shadow: var(--container__shadow) rgba(var(--color1_rgb), var(--container__shadow--opt));
    box-shadow: var(--container__shadow) rgba(var(--color1_rgb), var(--container__shadow--opt));
}
.containers > .first .left{
    margin-right: 1rem;
    background-image: url(../%40img/main_img.gif);
    background-position: center;
    background-size: cover;
}
.containers > .first .right{
    margin-left: 1rem
}
.containers > .first .right .container{
    padding: 10%;
    
}
.price__block{
    width: 100%;
    height: 80px;
    color:#fff;
    border: 2px solid var(--color1)
}
.avatar{
    height: 60px;
    width: 60px;
    margin-left: 10px;
    border: 2px solid var(--color1);
    background-image: url(../%40img/ava.gif);
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: var(--container__shadow) rgba(var(--color1_rgb), .3);
    -moz-box-shadow: var(--container__shadow) rgba(var(--color1_rgb), .3);
    box-shadow: var(--container__shadow) rgba(var(--color1_rgb), .3);
}
.nft_price{
    font-family: var(--font2);
    margin-left: auto;
    margin-right: 10px;
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
}
.nft_price span:nth-child(2){
    font-size: 1.65rem;
}
.containers > .second{
    width: 100%;
    min-height: 5rem;
    margin-top: 3rem;
    background-color: rgba(var(--container__in--color));
    border-radius: 1rem;
    border: 2px solid var(--color1);
    -webkit-box-shadow: var(--container__shadow) rgba(var(--color1_rgb), var(--container__shadow--opt));
    -moz-box-shadow: var(--container__shadow) rgba(var(--color1_rgb), var(--container__shadow--opt));
    box-shadow: var(--container__shadow) rgba(var(--color1_rgb), var(--container__shadow--opt));
    
    font-size: 1.25rem;
    font-family: var(--font1);
    color: #fff;
    margin-right: 1rem;
}
.containers > .second .inner{
    width: 100%;
    height: 100%;
    padding: 0 2rem;    
}
.progress-bar{
    width: 100%;
    height: 50px;
    background-color: red;
    margin-left: 1.5rem;
    border-radius: 1rem;
    background-color: #2c2c2d;
}
.progress-done{
    height: 100%;
    align-items: center;
    justify-content: center;    
    background-color: var(--color1);
    border-radius: 1rem;
    width: 20%;
    
}
.progress-done .done-span{
    
}

.pay__block{
    width: 100%;
}
.pay__block .first{
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}
.pay__block .first span{
    font-family: var(--font2);
    
    font-weight: 800;
}
.odd{
    font-size: 4rem;
    color: var(--color1);
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.odd:hover{
    color: #fff;
}
.num{
    color: #fff;
    font-size: 1.2rem;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.max{
    height: 40px;
    width: 120px;
    background-color: var(--color1);
    margin-left: 2rem;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.max:hover{
    color: #333;
    background-color: #fff;
}
.max > span{
    font-family: var(--font2);
}
.circle{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    justify-content: center;
    background-color: var(--color1);
    margin: 0rem 1rem;
}

.pay__block .second{
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    border-top: 2px solid var(--color1);
    border-bottom: 2px solid var(--color1);
}
.calc{
    justify-content: space-between;
    color: #fff;
    font-family: var(--font2);
    font-weight: 700;
    margin: .5rem 0;
}

.button{
    width: 100%;
    height: 80px;
    background-color: var(--color1);
    margin-top: 8rem;
    justify-content: center;
    font-family: var(--font2);
    font-weight: 800;
    font-size: 2rem;
    color:#fff;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;  
}
.button:hover{
    color: #333;
    background-color: #fff;
}




.footer{
    margin-top: 20vh;
    padding: 2rem 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: var(--font1);
}
.footer div{
    justify-content: center;   
    font-family: var(--font2);
    font-weight: 500;
}
.color{
    color: var(--color1);
}

.warp{
    flex-direction: column;
}
.center{
    align-items: center;
}
.filter{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(61deg) brightness(107%) contrast(101%);
}
.modal__window{
    touch-action: initial;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%;
    width: 100%;
    height: 100%;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    overflow-y: auto;
    z-index: 100;
    text-align: center;
    font-family: var(--font2);
    display: none;
}
.connect__container{
    width: 550px;margin: 0px auto;box-sizing: border-box;color: rgb(255, 255, 255);
}
.connect__content{
    display: flex;
flex-direction: column;
padding: 24px 8px;
margin: auto;
background: rgba(var(--container__in--color)) none repeat scroll 0% 0%;
border:var(--container__border);
-webkit-box-shadow: var(--container__shadow) rgba(var(--color1_rgb), .4);
-moz-box-shadow: var(--container__shadow) rgba(var(--color1_rgb), .4);
box-shadow: var(--container__shadow) rgba(var(--color1_rgb), .4);
border-radius: 5px;
}
#browser_connect img{
    width: 50px;
}
a{text-decoration: none}
.buttons__style{
display: flex;
flex-direction: column;
-moz-box-align: center;
align-items: center;
-moz-box-pack: justify;
justify-content: space-between;
margin-left: 5px;
height: 74px;
-moz-box-flex: unset;
flex-grow: unset;
text-transform: capitalize;
white-space: nowrap;
font-size: 0.9rem;
letter-spacing: 0.1em;
width: 100%;
margin: 0 1rem;
background: rgba(var(--container__in--color)) none repeat scroll 0% 0%;color: rgb(255, 255, 255);
font-weight: 700;
border-radius: 4px;
border:var(--container__border);
    font-weight: 700;
border-radius: 4px;
cursor: pointer;
    -webkit-appearance: button;
    padding: 16px 24px;
}
.buttons__style:hover {
  color: #fff;
    background-color: var(--color1);
}
.buttons{
    display: flex;

-moz-box-pack: justify;
justify-content: space-between;
align-items: flex-start;
}
.buttons__style > svg{
    width: 32px;
    height: 32px;
        box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
.price__icon{position: relative}
.price__icon::after{
        top:0;
        right: -1.3rem;
        position: absolute;
        content: "";
        display: block;
        background: url("../%40img/eth.html") no-repeat;
        background-position: center;
        background-size: contain;
        width: 20px;
        height: 20px;
    }
@media (max-width: 1000px) {
    .home{display: none;}
    .containers > .first{
        flex-direction: column;
    }
    .containers > .first .left{
        margin-right: 0rem;

    }
    .containers > .first .right{
        margin-top: 2rem;
        margin-left: 0rem
    }
    .containers .second .inner{
        flex-direction: column;
    }
	.title{height:400px;}
    .h2__span{
        text-align: center !important;
    }
    .containers > .second .inner:first-child{
        margin-top: 1rem;
    }
    .progress-bar {
        margin-left: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        order: 0;
    }
    .containers > .first{
        order: 1;
        margin-top: 2rem;
    }
    .containers > .first .left{
        min-height: 400px;
        max-height: 500px;
    }
    .done-span{
        font-size: .8rem;
    }
    .circle{
        width: 45px;
        height: 45px;
    }
    .max{
        font-size: .8rem;    
   <!- }
    #walletconnect_connect {display: none}
    .wapper{width:  95%}
    /*#browser_connect{display: none} */
    .connect__container{
        width: 80%;
    } -!>
    .buttons{
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}

.flex{
    display: flex;
}
